<ngx-spinner></ngx-spinner>
<div class="wrap-title">
    <h1>HN Feed</h1>
    <br>
    <h5>We &#60;3 hacker news</h5>
</div>

<div class="content-wrap">
    <div style="margin-left: 10rem;" *ngFor="let article of articlesList; let i = index">
        <div class="content" *ngIf="article.title  || article.story_title">
            <p *ngIf="article.title">{{article.title}}</p>
            <p *ngIf="article.story_title">{{article.story_title}}</p>
            <p style="color:#999; margin-left: 10px;">- {{article.author}} -</p>
            <p > {{ article.created_at | date:'shortTime' }}</p>            
            <img src="../assets/images/delete.svg"  alt="" (click)="delete(article._id)">
        </div>
    </div>
</div>