.wrap-title {
  width: 100%;
  height: 200px !important;
  background-color: black;
  color: white;
  height: 5rem;
  padding: 70px 0px 0px 220px;
  h1 {
    margin-left: 0px;
    font-size: 50px;
  }
  h5 {
    margin: 0px;
    font-size: 20px;
  }
}
.content-wrap {
  margin-left: 3rem;
  margin-right: 3rem;
  display: grid;
}
.content {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.content:hover {
  background-color: #fafafa;
}

p {
  font-size: 13px;
  color: #333;
  display: inline;
}
img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0px 0px 2px 0px;
  float: right !important;
}
